@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
  margin: 0;
}
.App { 
  text-align: center; 

}  
body{background-image: url('https://i.imgur.com/EfcLz09.jpg?1') ;

  -webkit-background-size: fit-content;
  -moz-background-size: fit-content;
  -o-background-size: cover;
  background-size:cover;
  background-position: cover;
}
h1{
  font-family: 'Indie Flower';
  margin:0;
  text-align: center;
  background-color: rgba(81, 121, 106, 0.945);
  border-style: solid;
}

.games{
  display: inline-grid; 
  justify-content: space-evenly;
  justify-content: center; 
  /* gap: 10px; */
  height: 200px; 
  grid-template-columns: repeat(3, 1fr);
  column-gap: 150px;
  row-gap: 25px;
}
h3{
  color: white;
  font-style: oblique;
}
p{
  font-size: larger;
  background-color: rgb(119, 102, 80);
}
.navBar{
  justify-content: space-evenly;
  background-color: rgb(37, 65, 97);
  line-height: 45px;
  display: flex;
}
.pokeGames{
  text-align: center;
  font-size: 18px;
  font-family: 'Indie Flower';
  color: rgb(251, 251, 145);
  background-color: rgb(97, 91, 91);
  border-style:solid;
  border-color: rgb(0, 0, 0);
  margin: 0;
  width: 100%;
  justify-content: space-evenly;


}
a{
  color: black;
  justify-content: space-evenly;
  text-align: right;
  font-size: 20px;
  font-style: oblique;
  background-color: rgb(119, 102, 80);

}
img {
  width:  260px;
  height: 250px;
  object-fit: cover;
  image-resolution:inherit;
}
.regions{
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 175px;
  row-gap: 50px;
  justify-content: space-evenly;
}
h2{
  background-color: rgb(37, 65, 97);
  color:rgb(251, 251, 145);
  font-family: 'Indie Flower';
  font-size: 25px;
}
.region{
  border-style: solid;
}

input{
  height: 40px;
}
button{
  height: 36px
}
.reviewGrid{
  display: grid;
  justify-content: center; 
  align-content: center;
  text-align: center;
  place-items: center;
  row-gap: 20px;
  

}
.reviews{
  border-style: double;
  border-color: black;
  width: 450px;
  height:auto;
  justify-content: center;
  background-color: rgba(37, 65, 97, 0.863);
  color:  rgb(0, 0, 0);
  font-weight: 300;
  font-family: 'Indie Flower';
  color:rgb(251, 251, 145)
  
}
input{
  background-color:rgb(251, 251, 145);
}
button{
  background-color: rgb(37, 65, 97);
  height: 45px;
}
a:hover {
  background-color: yellow;
}



