@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
  margin: 0;
  /* background-color: rgb(185, 162, 132); */
}
 .App { 
   /* text-align: center;  */

   
}  
body{background-image: url('https://i.imgur.com/EfcLz09.jpg?1') ;
  /* background-repeat:repeat-y; */
  /* background-attachment: fixed;
  background-position: center;
  background-size: contain; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  background-position: center;
}
h1{
  font-family: 'Righteous';
  margin:0;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 20px;
  row-gap: 20px;
}
.games{
  display: flex; 
  flex-wrap: wrap;
  justify-content:space-between;
  gap: 10px;
}
.navBar{
  justify-content: space-evenly;
  background-color: rgb(37, 65, 97);
  line-height: 45px;
  color: blue;
  display: flex;
}
.pokeGames{
  text-align: center;
  font-size: 18px;
  font-family: 'Indie Flower';
  color: rgb(251, 251, 145);
  background-color: rgb(97, 91, 91);
  border-style:solid;
  border-color: rgb(0, 0, 0);
  /* background-image: url('https://i.imgur.com/d9zUvSO.jpg?1');
  background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size:contain;
  background-repeat: repeat-y; */
  
}
a{
  color: black;
  justify-content: space-evenly;
  text-align: right;
  font-size: 20px;
  font-style: oblique;
  background-color: rgb(119, 102, 80);

}


/* .App-header { 
   background-color: rgb(37, 65, 97);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: black;

 }  */




